body{
    background-size: cover;
    font-family: monospace;
}
a{
    text-decoration: none;
    color:black;
    font-size:100px;
    width:300px !important;
    font-family: 'Josefin Sans', sans-serif;
    background-color: antiquewhite;
    border: 2px black;
}

.heading{
    margin-top: 300px;
}
canvas{
    border-radius: 20px;
    box-shadow:3px 3px 3px grey;
    border:3px white solid;
    margin-top:50px;
}

#back{
    margin-top:20px;
    float:right;
    margin-right:17px;
    width:90px;
}

#status{
    margin-top:50px;
}